body{
   width:960px;
   margin-left:auto;
   margin-right:auto;
   border-width:2px;
   border-style:dotted;
   border-color:#880000;
   border-radius:4px;
   padding-left:25px;
   padding-right:25px;
}
h1{
   color:#880000;
     font-size:48px
}
#para2{
   font-style:italic;
}
body{
background-color:#D8D8D8
}
#para3{
   color:#880000;
}
#para4{
text-shadow: 2px 3px 2px #686868;
}
img{
  float:right;
}
#para5{
  color:#880000;
  font-style: bold;
}